

<!DOCTYPE html>
<html ng-app="MyApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile Store</title>
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/Assests/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Bootstrap css -->
    <link href="~/Assests/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Main css -->
    <link rel="stylesheet" href="~/Assests/css/fontawesome-all.css">
    <!-- Font-Awesome-Icons-CSS -->
    <link href="~/Assests/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!-- pop-up-box -->
    <link href="~/Assests/css/menu.css" rel="stylesheet" type="text/css" media="all" />
    <!-- menu style -->
    <!-- //Custom-Files -->
    <!-- web fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
          rel="stylesheet">




    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @{
        HttpContext context = HttpContext.Current;
        //context.Session["UserId"] = firstName;
        var firstname = context.Session["Firstname"]; }
    <link href="~/Assests/css/style.css" rel="stylesheet" />

</head>
<body ng-controller="ProductController">
    @*<div class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-2 col-md-2 ">

                        <img src="~/Assests/images/logo.jpg" />
                    </div>
                    <div class="col-lg-6  col-md-6  ">
                        <ul class="nav navbar-nav list-inline pull-right ">
                            <li class="menu-align">@Html.ActionLink("Home", "Index", "Home")</li>
                            <li ng-click="getProductsList()" class="menu-align">@Html.ActionLink("Products", "ProductListPage", "Product")</li>
                            <li class="menu-align">@Html.ActionLink("Admin Portal", "Login", "Admin")</li>


                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 list-border ">

                        <ul class="nav navbar-nav list-inline pull-right">
                            <li class="menu-align">
                                <a><i class="fa fa-shopping-cart"></i></a>
                            </li>


                            @if (Session["UserId"] == null && HttpContext.Current.Session != null)
                            {
                                <li class="menu-align">@Html.ActionLink("Login", "Login", "Account")</li>
                                <li class="menu-align">@Html.ActionLink("Register", "UserRegistrationForm", "Account")</li>

                            }
                            else
                            {

                                <li class="list-align">Hey !!@firstname</li>
                                <li class="menu-align">@Html.ActionLink("Logout", "Logout", "Account")</li>




                            }
                        </ul>


                    </div>
                </div>
            </div>
        </div>*@
    <!-- top-header -->
    <div class="agile-main-top">
        <div class="container-fluid">
            <div class="row main-top-w3l py-2">
                <div class="col-lg-4 header-most-top">
                    <p class="text-white text-lg-left text-center">
                        Offer Zone Top Deals & Discounts
                        <i class="fas fa-shopping-cart ml-1"></i>
                    </p>
                </div>
                <div class="col-lg-8 header-right mt-lg-0 mt-2">
                    <!-- header lists -->
                    <ul>
                        <li class="text-center border-right text-white">
                            <a class="play-icon popup-with-zoom-anim text-white" href="#small-dialog1">
                                <i class="fas fa-map-marker mr-2"></i>Select Location
                            </a>
                        </li>
                        <li class="text-center border-right text-white">
                            <a href="#" data-toggle="modal" data-target="#exampleModal" class="text-white">
                                <i class="fas fa-truck mr-2"></i>Track Order
                            </a>
                        </li>
                        <li class="text-center border-right text-white">
                            <i class="fas fa-phone mr-2"></i> 001 234 5678
                        </li>
                        @if (Session["UserId"] == null && HttpContext.Current.Session != null)
                        {
                            <li class="text-center border-right text-white">@Html.ActionLink("Login", "Login", "Account")</li>
                            <li class="text-center border-right text-white">@Html.ActionLink("Register", "UserRegistrationForm", "Account")</li>

                        }
                        else
                        {

                            <li class="text-center border-right text-white">Hey !!@firstname</li>
                            <li class="text-center border-right text-white">@Html.ActionLink("Logout", "Logout", "Account")</li>

                        }
                    </ul>
                    <!-- //header lists -->
                </div>
            </div>
        </div>
    </div>
    @*<div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">

                    <img src="~/Assests/images/banner-1.jpg" />
                    <div class="carousel-caption"><button class="btn btn-lg btn-warning">Shop Now</button></div>
                </div>
                <div class="item">

                    <img src="~/Assests/images/banner-2.jpg" />
                    <div class="carousel-caption"><button class="btn btn-lg btn-primary">Shop Now</button></div>
                </div>
                <div class="item">

                    <img src="~/Assests/images/banner-3.jpg" />
                    <div class="carousel-caption"><button class="btn btn-lg btn-danger">Shop Now</button></div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>*@
    <div class="header-bot">
        <div class="container">
            <div class="row header-bot_inner_wthreeinfo_header_mid">
                <!-- logo -->
                <div class="col-md-3 logo_agile">
                    <h1 class="text-center">
                        <a href="index.html" class="font-weight-bold font-italic">
                            <img src="images/logo2.png" alt=" " class="img-fluid">Electro Store
                        </a>
                    </h1>
                </div>
                <!-- //logo -->
                <!-- header-bot -->
                <div class="col-md-9 header mt-4 mb-md-0 mb-4">
                    <div class="row">
                        <!-- search -->
                        <div class="col-10 agileits_search">
                            <form class="form-inline" action="#" method="post">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" required>
                                <button class="btn my-2 my-sm-0" type="submit">Search</button>
                            </form>
                        </div>
                        <!-- //search -->
                        <!-- cart details -->
                        <div class="col-2 top_nav_right text-center mt-sm-0 mt-2">
                            <div class="wthreecartaits wthreecartaits2 cart cart box_1">
                                <form action="#" method="post" class="last">
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="display" value="1">
                                    <button class="btn w3view-cart" type="submit" name="submit" value="">
                                        <i class="fas fa-cart-arrow-down"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <!-- //cart details -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- shop locator (popup) -->
    <!-- //header-bottom -->
    <!-- navigation -->
    <div class="navbar-inner">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="agileits-navi_search">
                    <form action="#" method="post">
                        <select id="agileinfo-nav_search" name="agileinfo_search" class="border" required="">
                            <option value="">All Categories</option>
                            <option value="Televisions">Televisions</option>
                            <option value="Headphones">Headphones</option>
                            <option value="Computers">Computers</option>
                            <option value="Appliances">Appliances</option>
                            <option value="Mobiles">Mobiles</option>
                            <option value="Fruits &amp; Vegetables">Tv &amp; Video</option>
                            <option value="iPad & Tablets">iPad & Tablets</option>
                            <option value="Cameras & Camcorders">Cameras & Camcorders</option>
                            <option value="Home Audio & Theater">Home Audio & Theater</option>
                        </select>
                    </form>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto text-center mr-xl-5">
                        <li class="nav-item active mr-lg-2 mb-lg-0 mb-2">
                            <a class="nav-link" href="index.html">
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Electronics
                            </a>
                            <div class="dropdown-menu">
                                <div class="agile_inner_drop_nav_info p-4">
                                    <h5 class="mb-3">Mobiles, Computers</h5>
                                    <div class="row">
                                        <div class="col-sm-6 multi-gd-img">
                                            <ul class="multi-column-dropdown">
                                                <li>
                                                    <a href="product.html">All Mobile Phones</a>
                                                </li>
                                                <li>
                                                    <a href="product.html">All Mobile Accessories</a>
                                                </li>
                                                <li>
                                                    <a href="product.html">Cases & Covers</a>
                                                </li>
                                                <li>
                                                    <a href="product.html">Screen Protectors</a>
                                                </li>
                                                <li>
                                                    <a href="product.html">Power Banks</a>
                                                </li>
                                                <li>
                                                    <a href="product.html">All Certified Refurbished</a>
                                                </li>
                                                <li>
                                                    <a href="product.html">Tablets</a>
                                                </li>
                                                <li>
                                                    <a href="product.html">Wearable Devices</a>
                                                </li>
                                                <li>
                                                    <a href="product.html">Smart Home</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-6 multi-gd-img">
                                            <ul class="multi-column-dropdown">
                                                <li>
                                                    <a href="product.html">Laptops</a>
                                                </li>
                                                <li>
                                                    <a href="product.html">Drives & Storage</a>
                                                </li>
                                                <li>
                                                    <a href="product.html">Printers & Ink</a>
                                                </li>
                                                <li>
                                                    <a href="product.html">Networking Devices</a>
                                                </li>
                                                <li>
                                                    <a href="product.html">Computer Accessories</a>
                                                </li>
                                                <li>
                                                    <a href="product.html">Game Zone</a>
                                                </li>
                                                <li>
                                                    <a href="product.html">Software</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Appliances
                            </a>
                            <div class="dropdown-menu">
                                <div class="agile_inner_drop_nav_info p-4">
                                    <h5 class="mb-3">TV, Appliances, Electronics</h5>
                                    <div class="row">
                                        <div class="col-sm-6 multi-gd-img">
                                            <ul class="multi-column-dropdown">
                                                <li>
                                                    <a href="product2.html">Televisions</a>
                                                </li>
                                                <li>
                                                    <a href="product2.html">Home Entertainment Systems</a>
                                                </li>
                                                <li>
                                                    <a href="product2.html">Headphones</a>
                                                </li>
                                                <li>
                                                    <a href="product2.html">Speakers</a>
                                                </li>
                                                <li>
                                                    <a href="product2.html">MP3, Media Players & Accessories</a>
                                                </li>
                                                <li>
                                                    <a href="product2.html">Audio & Video Accessories</a>
                                                </li>
                                                <li>
                                                    <a href="product2.html">Cameras</a>
                                                </li>
                                                <li>
                                                    <a href="product2.html">DSLR Cameras</a>
                                                </li>
                                                <li>
                                                    <a href="product2.html">Camera Accessories</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-6 multi-gd-img">
                                            <ul class="multi-column-dropdown">
                                                <li>
                                                    <a href="product2.html">Musical Instruments</a>
                                                </li>
                                                <li>
                                                    <a href="product2.html">Gaming Consoles</a>
                                                </li>
                                                <li>
                                                    <a href="product2.html">All Electronics</a>
                                                </li>
                                                <li>
                                                    <a href="product2.html">Air Conditioners</a>
                                                </li>
                                                <li>
                                                    <a href="product2.html">Refrigerators</a>
                                                </li>
                                                <li>
                                                    <a href="product2.html">Washing Machines</a>
                                                </li>
                                                <li>
                                                    <a href="product2.html">Kitchen & Home Appliances</a>
                                                </li>
                                                <li>
                                                    <a href="product2.html">Heating & Cooling Appliances</a>
                                                </li>
                                                <li>
                                                    <a href="product2.html">All Appliances</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item mr-lg-2 mb-lg-0 mb-2">
                            <a class="nav-link" href="about.html">About Us</a>
                        </li>
                        <li class="nav-item mr-lg-2 mb-lg-0 mb-2">
                            <a class="nav-link" href="product.html">New Arrivals</a>
                        </li>
                        <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Pages
                            </a>
                            <div class="dropdown-menu">
                                @*<a class="dropdown-item" href="product.html">Product 1</a>*@
                        <a class="dropdown-item" ng-click="getProductsList()">@Html.ActionLink("Products", "ProductListPage", "Product")</a>
                        <a class="dropdown-item" href="product2.html">Product 2</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="single.html">Single Product 1</a>
                        <a class="dropdown-item" href="single2.html">Single Product 2</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="checkout.html">Checkout Page</a>
                        <a class="dropdown-item" href="payment.html">Payment Page</a>
</div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!-- //navigation -->
    <!-- banner -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <!-- Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item item1 active">
                <div class="container">
                    <div class="w3l-space-banner">
                        <div class="carousel-caption p-lg-5 p-sm-4 p-3">
                            <p>
                                Get flat
                                <span>10%</span> Cashback
                            </p>
                            <h3 class="font-weight-bold pt-2 pb-lg-5 pb-4">
                                The
                                <span>Big</span>
                                Sale
                            </h3>
                            <a class="button2" href="product.html">Shop Now </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item item2">
                <div class="container">
                    <div class="w3l-space-banner">
                        <div class="carousel-caption p-lg-5 p-sm-4 p-3">
                            <p>
                                advanced
                                <span>Wireless</span> earbuds
                            </p>
                            <h3 class="font-weight-bold pt-2 pb-lg-5 pb-4">
                                Best
                                <span>Headphone</span>
                            </h3>
                            <a class="button2" href="product.html">Shop Now </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item item3">
                <div class="container">
                    <div class="w3l-space-banner">
                        <div class="carousel-caption p-lg-5 p-sm-4 p-3">
                            <p>
                                Get flat
                                <span>10%</span> Cashback
                            </p>
                            <h3 class="font-weight-bold pt-2 pb-lg-5 pb-4">
                                New
                                <span>Standard</span>
                            </h3>
                            <a class="button2" href="product.html">Shop Now </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item item4">
                <div class="container">
                    <div class="w3l-space-banner">
                        <div class="carousel-caption p-lg-5 p-sm-4 p-3">
                            <p>
                                Get Now
                                <span>40%</span> Discount
                            </p>
                            <h3 class="font-weight-bold pt-2 pb-lg-5 pb-4">
                                Today
                                <span>Discount</span>
                            </h3>
                            <a class="button2" href="product.html">Shop Now </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="footer-top-first">
                <div class="container py-md-5 py-sm-4 py-3">
                    <!-- footer first section -->
                    <h2 class="footer-top-head-w3l font-weight-bold mb-2">Electronics :</h2>
                    <p class="footer-main mb-4">
                        If you're considering a new laptop, looking for a powerful new car stereo or shopping for a new HDTV, we make it easy to
                        find exactly what you need at a price you can afford. We offer Every Day Low Prices on TVs, laptops, cell phones, tablets
                        and iPads, video games, desktop computers, cameras and camcorders, audio, video and more.
                    </p>
                    <!-- //footer first section -->
                    <!-- footer second section -->
                    <div class="row w3l-grids-footer border-top border-bottom py-sm-4 py-3">
                        <div class="col-md-4 offer-footer">
                            <div class="row">
                                <div class="col-4 icon-fot">
                                    <i class="fas fa-dolly"></i>
                                </div>
                                <div class="col-8 text-form-footer">
                                    <h3>Free Shipping</h3>
                                    <p>on orders over $100</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 offer-footer my-md-0 my-4">
                            <div class="row">
                                <div class="col-4 icon-fot">
                                    <i class="fas fa-shipping-fast"></i>
                                </div>
                                <div class="col-8 text-form-footer">
                                    <h3>Fast Delivery</h3>
                                    <p>World Wide</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 offer-footer">
                            <div class="row">
                                <div class="col-4 icon-fot">
                                    <i class="far fa-thumbs-up"></i>
                                </div>
                                <div class="col-8 text-form-footer">
                                    <h3>Big Choice</h3>
                                    <p>of Products</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //footer second section -->
                </div>
            </div>
            <!-- footer third section -->
            <div class="w3l-middlefooter-sec">
                <div class="container py-md-5 py-sm-4 py-3">
                    <div class="row footer-info w3-agileits-info">
                        <!-- footer categories -->
                        <div class="col-md-3 col-sm-6 footer-grids">
                            <h3 class="text-white font-weight-bold mb-3">Categories</h3>
                            <ul>
                                <li class="mb-3">
                                    <a href="product.html">Mobiles </a>
                                </li>
                                <li class="mb-3">
                                    <a href="product.html">Computers</a>
                                </li>
                                <li class="mb-3">
                                    <a href="product.html">TV, Audio</a>
                                </li>
                                <li class="mb-3">
                                    <a href="product2.html">Smartphones</a>
                                </li>
                                <li class="mb-3">
                                    <a href="product.html">Washing Machines</a>
                                </li>
                                <li>
                                    <a href="product2.html">Refrigerators</a>
                                </li>
                            </ul>
                        </div>
                        <!-- //footer categories -->
                        <!-- quick links -->
                        <div class="col-md-3 col-sm-6 footer-grids mt-sm-0 mt-4">
                            <h3 class="text-white font-weight-bold mb-3">Quick Links</h3>
                            <ul>
                                <li class="mb-3">
                                    <a href="about.html">About Us</a>
                                </li>
                                <li class="mb-3">
                                    <a href="contact.html">Contact Us</a>
                                </li>
                                <li class="mb-3">
                                    <a href="help.html">Help</a>
                                </li>
                                <li class="mb-3">
                                    <a href="faqs.html">Faqs</a>
                                </li>
                                <li class="mb-3">
                                    <a href="terms.html">Terms of use</a>
                                </li>
                                <li>
                                    <a href="privacy.html">Privacy Policy</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6 footer-grids mt-md-0 mt-4">
                            <h3 class="text-white font-weight-bold mb-3">Get in Touch</h3>
                            <ul>
                                <li class="mb-3">
                                    <i class="fas fa-map-marker"></i> 123 Sebastian, USA.
                                </li>
                                <li class="mb-3">
                                    <i class="fas fa-mobile"></i> 333 222 3333
                                </li>
                                <li class="mb-3">
                                    <i class="fas fa-phone"></i> +222 11 4444
                                </li>
                                <li class="mb-3">
                                    <i class="fas fa-envelope-open"></i>
                                    <a href="mailto:example@mail.com"> mail 1@example.com</a>
                                </li>
                                <li>
                                    <i class="fas fa-envelope-open"></i>
                                    <a href="mailto:example@mail.com"> mail 2@example.com</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6 footer-grids w3l-agileits mt-md-0 mt-4">
                            <!-- newsletter -->
                            <h3 class="text-white font-weight-bold mb-3">Newsletter</h3>
                            <p class="mb-3">Free Delivery on your first order!</p>
                            <form action="#" method="post">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email" name="email" required="">
                                    <input type="submit" value="Go">
                                </div>
                            </form>
                            <!-- //newsletter -->
                            <!-- social icons -->
                            <div class="footer-grids  w3l-socialmk mt-3">
                                <h3 class="text-white font-weight-bold mb-3">Follow Us on</h3>
                                <div class="social">
                                    <ul>
                                        <li>
                                            <a class="icon fb" href="#">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="icon tw" href="#">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="icon gp" href="#">
                                                <i class="fab fa-google-plus-g"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- //social icons -->
                        </div>
                    </div>
                    <!-- //quick links -->
                </div>
            </div>
            <!-- //footer third section -->
            <!-- footer fourth section -->
            <div class="agile-sometext py-md-5 py-sm-4 py-3">
                <div class="container">
                    <!-- brands -->
                    <div class="sub-some">
                        <h5 class="font-weight-bold mb-2">Mobile & Tablets :</h5>
                        <ul>
                            <li class="m-sm-1">
                                <a href="product.html" class="border-right pr-2">Android Phones</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product.html" class="border-right pr-2">Smartphones</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product.html" class="border-right pr-2">Feature Phones</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product.html" class="border-right pr-2">Unboxed Phones</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product.html" class="border-right pr-2">Refurbished Phones</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product.html" class="border-right pr-2"> Tablets</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product.html" class="border-right pr-2">CDMA Phones</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product.html" class="border-right pr-2">Value Added Services</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product.html" class="border-right pr-2">Sell Old</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product.html" class="border-right pr-2">Used Mobiles</a>
                            </li>
                        </ul>
                    </div>
                    <div class="sub-some mt-4">
                        <h5 class="font-weight-bold mb-2">Computers :</h5>
                        <ul>
                            <li class="m-sm-1">
                                <a href="product.html" class="border-right pr-2">Laptops </a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product.html" class="border-right pr-2">Printers</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product.html" class="border-right pr-2">Routers</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product.html" class="border-right pr-2">Ink & Toner Cartridges</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product.html" class="border-right pr-2">Monitors</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product.html" class="border-right pr-2">Video Games</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product.html" class="border-right pr-2">Unboxed & Refurbished Laptops</a>
                            </li>
                            <li>
                                <a href="product.html" class="border-right pr-2">Assembled Desktops</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product2.html" class="border-right pr-2">Data Cards</a>
                            </li>
                        </ul>
                    </div>
                    <div class="sub-some mt-4">
                        <h5 class="font-weight-bold mb-2">TV, Audio & Large Appliances :</h5>
                        <ul>
                            <li class="m-sm-1">
                                <a href="product2.html" class="border-right pr-2">TVs & DTH</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product2.html" class="border-right pr-2">Home Theatre Systems</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product2.html" class="border-right pr-2">Hidden Cameras & CCTVs</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product2.html" class="border-right pr-2">Refrigerators</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product2.html" class="border-right pr-2">Washing Machines</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product2.html" class="border-right pr-2"> Air Conditioners</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product2.html" class="border-right pr-2">Cameras</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product2.html" class="border-right pr-2">Speakers</a>
                            </li>
                        </ul>
                    </div>
                    <div class="sub-some mt-4">
                        <h5 class="font-weight-bold mb-2">Mobile & Laptop Accessories :</h5>
                        <ul>
                            <li class="m-sm-1">
                                <a href="product2.html" class="border-right pr-2">Headphones</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product.html" class="border-right pr-2">Power Banks </a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product.html" class="border-right pr-2">Backpacks</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product.html" class="border-right pr-2">Mobile Cases & Covers</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product.html" class="border-right pr-2">Pen Drives</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product2.html" class="border-right pr-2">External Hard Disks</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product2.html" class="border-right pr-2"> Mouse</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product2.html" class="border-right pr-2">Smart Watches & Fitness Bands</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product2.html" class="border-right pr-2">MicroSD Cards</a>
                            </li>
                        </ul>
                    </div>
                    <div class="sub-some mt-4">
                        <h5 class="font-weight-bold mb-2">Appliances :</h5>
                        <ul>
                            <li class="m-sm-1">
                                <a href="product2.html" class="border-right pr-2">Trimmers</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product2.html" class="border-right pr-2">Hair Dryers</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product2.html" class="border-right pr-2">Emergency Lights</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product2.html" class="border-right pr-2">Water Purifiers </a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product2.html" class="border-right pr-2">Electric Kettles</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product2.html" class="border-right pr-2">Hair Straighteners</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product2.html" class="border-right pr-2">Induction Cooktops</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product2.html" class="border-right pr-2">Sewing Machines</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product2.html" class="border-right pr-2"> Geysers</a>
                            </li>
                        </ul>
                    </div>
                    <div class="sub-some mt-4">
                        <h5 class="font-weight-bold mb-2">Popular on Electro Store</h5>
                        <ul>
                            <li class="m-sm-1">
                                <a href="product.html" class="border-right pr-2">Offers & Coupons</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product2.html" class="border-right pr-2">Couple Watches</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product2.html" class="border-right pr-2">Gas Stoves</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product2.html" class="border-right pr-2"> Air Coolers</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product2.html" class="border-right pr-2">Air Purifiers</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product2.html" class="border-right pr-2">Headphones</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product2.html" class="border-right pr-2"> Headsets</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product2.html" class="border-right pr-2">Pressure Cookers</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product2.html" class="border-right pr-2">Sandwich Makers</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product2.html" class="border-right pr-2">Air Friers</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product2.html" class="border-right pr-2">Irons</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product2.html" class="border-right pr-2">LED TV</a>
                            </li>
                            <li class="m-sm-1">
                                <a href="product2.html" class="border-right pr-2">Sandwich Makers</a>
                            </li>
                        </ul>
                    </div>
                    <!-- //brands -->
                    <!-- payment -->
                    <div class="sub-some child-momu mt-4">
                        <h5 class="font-weight-bold mb-3">Payment Method</h5>
                        <ul>
                            <li>
                                <img src="images/pay2.png" alt="">
                            </li>
                            <li>
                                <img src="images/pay5.png" alt="">
                            </li>
                            <li>
                                <img src="images/pay1.png" alt="">
                            </li>
                            <li>
                                <img src="images/pay4.png" alt="">
                            </li>
                            <li>
                                <img src="images/pay6.png" alt="">
                            </li>
                            <li>
                                <img src="images/pay3.png" alt="">
                            </li>
                            <li>
                                <img src="images/pay7.png" alt="">
                            </li>
                            <li>
                                <img src="images/pay8.png" alt="">
                            </li>
                            <li>
                                <img src="images/pay9.png" alt="">
                            </li>
                        </ul>
                    </div>
                    <!-- //payment -->
                </div>
            </div>
            <!-- //footer fourth section (text) -->
        </footer>
        <!-- //footer -->
        <!-- copyright -->
        <div class="copy-right py-3">
            <div class="container">
                <p class="text-center text-white">
                    © 2018 Electro Store. All rights reserved | Design by
                    <a href="http://w3layouts.com"> W3layouts.</a>
                </p>
            </div>
        </div>
        @*<footer>
            <div class="container-fluid">
                <div class="navbar navbar-default">
                    <div class="row">
                        <div class="footer-top">
                            <div class="col-lg-3 col-xs-12  ">

                                <img src="~/Assests/images/logo.jpg" class="footer-logo" />
                                <p class="text-justify footer-brief">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                    galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also
                                    the leap into electronic typesetting, remaining essentially unchanged.
                                </p>
                                <ul class="list-inline">

                                    <li><a class="facebook"><i class="fa fa-facebook-square fa-lg"></i></a></li>
                                    <li>
                                        <a class="facebook" href="www.facebook.com">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    <li>
                                        <a class="facebook" href="www.facebook.com">
                                            <i class="fa fa-twitter-square"></i>
                                        </a>
                                    </li>
                                    <li><a class="facebook" href="www.facebook.com"><i class="fa fa-instagram" href="www.facebook.com"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-xs-12 ">
                            <h3><strong>Shipping</strong></h3>
                            <ul class="list-group footer-heading-padding">
                                <li class="list-group"><a href="#">New Products</a></li>
                                <li class="list-group"><a href="#">Discounted Products</a></li>
                                <li class="list-group"><a href="#">Best Sell Products</a></li>
                                <li class="list-group"><a href="#">Manufacturers</a></li>
                                <li class="list-group"><a href="#">Suppliers</a></li>
                                <li class="list-group"><a href="#">Popular Products</a></li>


                            </ul>

                        </div>
                        <div class="col-lg-2 col-xs-12 ">
                            <h3 class=""><strong>My Account</strong></h3>
                            <ul class="list-group footer-heading-padding ">
                                <li class="list-group"><a href="#">My WishList</a></li>
                                <li class="list-group"><a href="#">My Cart</a></li>
                                <li class="list-group"><a href="#">My Add</a></li>
                                <li class="list-group"><a href="#">My Products</a></li>
                                <li class="list-group"><a href="#">Suppliers</a></li>
                                <li class="list-group"><a href="#">Popular Products</a></li>


                            </ul>
                        </div>
                        <div class="col-lg-5 col-xs-12 ">
                            <div class="form-group ">
                                <h3>Get in Touch</h3>
                                <label for=" Name">Name</label>
                                <input type="text" placeholder="Your Name is here" class="form-control input-lg" /><br />
                                <label for=" Email">Email</label>
                                <input type="text" placeholder="Your Email is here" class="form-control input-lg" /><br />
                                <input type="submit" class="btn add-to-cart " value="Submit" />
                            </div>
                        </div>


                    </div>
                </div>

            </div>

        </footer>*@
    </div>
    <!--modals-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center">Log In</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" method="post">
                        <div class="form-group">
                            <label class="col-form-label">Username</label>
                            <input type="text" class="form-control" placeholder=" " name="Name" required="">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Password</label>
                            <input type="password" class="form-control" placeholder=" " name="Password" required="">
                        </div>
                        <div class="right-w3l">
                            <input type="submit" class="form-control" value="Log in">
                        </div>
                        <div class="sub-w3l">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                                <label class="custom-control-label" for="customControlAutosizing">Remember me?</label>
                            </div>
                        </div>
                        <p class="text-center dont-do mt-3">
                            Don't have an account?
                            <a href="#" data-toggle="modal" data-target="#exampleModal2">
                                Register Now
                            </a>
                        </p>
                    </form>
                </div>
            </div>
        
    </div>
        </div>
    
    <!-- register -->
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.5.6/angular-messages.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

        <script src="~/Assests/js/AngularScript.js"></script>
        <script src="~/Assests/js/AdminController.js"></script>
        <script src="~/Assests/js/UserAccountController.js"></script>
        <script src="~/Assests/js/OrderController.js"></script>
        <script src="~/Assests/js/ProductController.js"></script>
        <script src="~/Assests/js/jquery-2.2.3.min.js"></script>
        <!-- //jquery -->
        <!-- nav smooth scroll -->
        <script>
            $(document).ready(function () {
                $(".dropdown").hover(
                    function () {
                        $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                        $(this).toggleClass('open');
                    },
                    function () {
                        $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                        $(this).toggleClass('open');
                    }
                );
            });
        </script>
        <!-- //nav smooth scroll -->
        <!-- popup modal (for location)-->
        <script src="~/Assests/js/jquery.magnific-popup.js"></script>
        <script>
            $(document).ready(function () {
                $('.popup-with-zoom-anim').magnificPopup({
                    type: 'inline',
                    fixedContentPos: false,
                    fixedBgPos: true,
                    overflowY: 'auto',
                    closeBtnInside: true,
                    preloader: false,
                    midClick: true,
                    removalDelay: 300,
                    mainClass: 'my-mfp-zoom-in'
                });

            });
        </script>
        <!-- //popup modal (for location)-->
        <!-- cart-js -->
        <script src="~/Assests/js/minicart.js"></script>
        <script>
            paypals.minicarts.render(); //use only unique class names other than paypals.minicarts.Also Replace same class name in css and minicart.min.js

            paypals.minicarts.cart.on('checkout', function (evt) {
                var items = this.items(),
                    len = items.length,
                    total = 0,
                    i;

                // Count the number of each item in the cart
                for (i = 0; i < len; i++) {
                    total += items[i].get('quantity');
                }

                if (total < 3) {
                    alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
                    evt.preventDefault();
                }
            });
        </script>
        <!-- //cart-js -->
        <!-- password-script -->
        <script>
            window.onload = function () {
                document.getElementById("password1").onchange = validatePassword;
                document.getElementById("password2").onchange = validatePassword;
            }

            function validatePassword() {
                var pass2 = document.getElementById("password2").value;
                var pass1 = document.getElementById("password1").value;
                if (pass1 != pass2)
                    document.getElementById("password2").setCustomValidity("Passwords Don't Match");
                else
                    document.getElementById("password2").setCustomValidity('');
                //empty string means no validation error
            }
        </script>
        <!-- //password-script -->
        <!-- scroll seller -->
        <script src="~/Assests/js/scroll.js"></script>
        <!-- //scroll seller -->
        <!-- smoothscroll -->
        <script src="~/Assests/js/SmoothScroll.min.js"></script>
        <!-- //smoothscroll -->
        <!-- start-smooth-scrolling -->
        <script src="~/Assests/js/move-top.js"></script>
        <script src="~/Assests/js/easing.js"></script>
        <script>
            jQuery(document).ready(function ($) {
                $(".scroll").click(function (event) {
                    event.preventDefault();

                    $('html,body').animate({
                        scrollTop: $(this.hash).offset().top
                    }, 1000);
                });
            });
        </script>
        <!-- //end-smooth-scrolling -->
        <!-- smooth-scrolling-of-move-up -->
        <script>
            $(document).ready(function () {
                /*
                var defaults = {
                    containerID: 'toTop', // fading element id
                    containerHoverID: 'toTopHover', // fading element hover id
                    scrollSpeed: 1200,
                    easingType: 'linear'
                };
                */
                $().UItoTop({
                    easingType: 'easeOutQuart'
                });

            });
        </script>
        <!-- //smooth-scrolling-of-move-up -->
        <!-- for bootstrap working -->
        <script src="~/Assests/js/bootstrap.js"></script>




        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)









</body>
</html>
